<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
      <add key="pastaLog" value="C:\Temp\"/>
      
      <!-- Produção  -->
      <add key="url" value="https://www.ans.gov.br"/>
      <add key="token" value="token"/>
      <add key="codigoOperadora" value="1"/>

    -->
    </appSettings>
</configuration>
